
<div class="modal-overlay" ng-attr-id="id-mo" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-hidden="true" aria-label="Close">
        <span class="pficon pficon-close"></span>
      </button>
      <h4 class="modal-title" ng-attr-id="id">Sign Up</h4>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="card-pf">
                <header class="login-pf-header">
                  <h1>Log In to Your Account</h1>
                </header>
                <form>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control  input-lg" id="exampleInputEmail1" placeholder="Email address">
                  </div>
                  <div class="form-group">
                    <label class="sr-only"  for="exampleInputPassword1">Password
                    </label>
                    <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group login-pf-settings">
                        <label class="checkbox-label">
                          <input type="checkbox"> Keep me logged in for 30 days
                        </label>
                        <a href="#">Forgot password?</a>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="login()">Log In</button>
                </form>
                <p class="login-pf-signup">Need an account?<a href="#">Sign up</a></p>
              </div><!-- card -->
              
              
            </div><!-- col -->
            
          </div><!-- row -->
        </div><!-- col -->
      </div><!-- row -->
      <div class="row">
          <div class="col-sm-6 ">
              <div id="fb-login-button" class="fb-login-button spacer" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
          </div>
          <div class="col-sm-6 ">
              <div class="g-signin2 spacer"  data-longtitle="true" data-onsuccess="onSignIn">
              <!--<div class="g-signin2 spacer" data-onsuccess="onSignIn()"></div> -->
          </div>
          
      </div>
      <div class="row">
          
         
      </div>
   </div>
    <div class="modal-footer">
      
    </div>
  </div>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  
  
  