<div class="container-fluid">

  <div class="row">
     <div class="col-md-6"><h4><strong>Algorithms</strong>&gt;<strong>{{document.metaData.title}}</strong></h4></div>
      <div class="col-md-6 card-social-element">
          <span>
              <ul>
                  <li><a href="" onclick="shareOnfacebook()"><i class="fa fa-facebook" aria-hidden="true" ></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                 <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>--> 
              </ul>
          </span>
      </div>
  </div>
    
    <div class="row content">
          <div class="col-sm-12">
              <div id="content"></div>
                <div ng-repeat="videoLink in document.videoLinks">
                  <iframe width="500" height="315" ng-src="{{trustSrc(videoLink)}}"  allowfullscreen></iframe>
                </div>
                <h2>Download Notes</h2>
                  <ul ng-repeat="doc in document.docLinks">
                     <li><a href="{{doc.link}}"> {{doc.name}}</a></li>
                  </ul>            
                <h4>Leave a Comment:</h4>
                    <form role="form">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" ng-model="commentText"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success" ng-click="addComment()">Submit</button>
                    </form>
                    <br><br>
                    
                    <p><span class="badge">2</span> Comments:</p><br>
                    
                    <div class="row">
                      
                      <div ng-repeat="comment in comments">
                          <div class="col-sm-2 text-center">
                              <img src="{{comment.userImg}}" class="img-circle" height="65" width="65" alt="{{comment.altText}}">
                            </div>
                            <div class="col-sm-10">
                              <h4>{{comment.userName}}<small>{{comment.commentDate}}</small></h4>
                              <p>{{comment.commentText}}</p>
                            <br>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<footer class="container-fluid">
        <p>Footer Text</p>
</footer>
